<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gimvukts.kljaja.logikaifilozofija">

    <application
        android:allowBackup="true"
        android:icon="@drawable/head_gears_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gimvukts.kljaja.logikaifilozofija.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.gimvukts.kljaja.logikaifilozofija.izborStraneActivity"
            android:parentActivityName="com.gimvukts.kljaja.logikaifilozofija.MainActivity" />
        <activity
            android:name="com.gimvukts.kljaja.logikaifilozofija.izborAktivnostiActivity"
            android:parentActivityName="com.gimvukts.kljaja.logikaifilozofija.izborStraneActivity" />
        <activity android:name="com.gimvukts.kljaja.logikaifilozofija.ucenjeActivity" />
        <activity android:name="com.gimvukts.kljaja.logikaifilozofija.vezbanjeActivity" />
        <activity
            android:name="com.gimvukts.kljaja.logikaifilozofija.LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>